*.gem
*~
*.rbc
.bundle
.rvmrc
.config
Gemfile.lock
coverage/*
doc/*
log/*
measurement/*
pkg/*
InstalledFiles
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.sw*

# YARD artifacts
.yardoc
_yardoc
doc/
